In [ ]:
import numpy as np
import pandas as pd

### PRACTICE ASSIGNMENT

**(Consider the statement for Q1 and Q2)**

Load the wine dataset from sklearn.

Split the dataset into train and test set with 70:30 ratio with `random_state` = 1

Use AdaBoostClassifier with `random_state` = 1 (other values being default).
Train the 'model' and compute the 'score' on training data and test data.

In [ ]:
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier

data = load_wine()
X_train, X_test, y_train, y_test = train_test_split(data.data, data.target, test_size = 0.3, random_state = 1)

adac = AdaBoostClassifier(random_state = 1)
adac.fit(X_train, y_train)

AdaBoostClassifier(random_state=1)

Q1. Enter the value of the 'score' on training set.

In [ ]:
adac.score(X_train, y_train)

0.6774193548387096

Q2. Enter the value of the 'score' on testing set.

In [ ]:
adac.score(X_test, y_test)

0.5370370370370371

**(Consider the statement for Q3,Q4 and Q5)**

Load the wine dataset from sklearn.

Split the dataset into train and test set with 70:30 ratio with `random_state` = 1

Use `AdaBoostClassifier` with `random_state` = 1 (other values being default).

Perform Hyperparameter tuning using `GridSearchCV` over the following:

Use `n_estimators` as [100,500,1000]

Use `learning_rate` as [0.5,1,2]
Train the 'model' and compute the 'score' on training data and test data.

In [ ]:
from sklearn.datasets import load_wine
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import GridSearchCV, train_test_split

data = load_wine()
X_train, X_test, y_train, y_test = train_test_split(data.data, data.target, test_size = 0.3, random_state = 1)

adac = AdaBoostClassifier(random_state = 1)

params = {"n_estimators" : [100,500,1000],
          "learning_rate" : [0.5,1,2]}

gridcv = GridSearchCV(adac, param_grid=params, cv = 4)
gridcv.fit(X_train, y_train)

GridSearchCV(cv=4, estimator=AdaBoostClassifier(random_state=1),
             param_grid={'learning_rate': [0.5, 1, 2],
                         'n_estimators': [100, 500, 1000]})

Q3. Enter the value of the 'score' on testing set.

Take cv value = 4

In [ ]:
gridcv.score(X_test, y_test)

0.9629629629629629

Q4. Enter the value of best n_estimators of the model after training with GridSearchCV.

Take cv value = 4

In [ ]:
gridcv.best_estimator_.n_estimators

100

Q5. Enter the value of best learning_rate of the model after training with GridSearchCV

Take cv value = 4

In [ ]:
gridcv.best_estimator_.learning_rate

0.5

**(Consider the statement for Q6 and Q7)**

Write a code to predict the score on the training set and the testing set using Voting Classifier on wine dataset Write your code based on the following keypoints:

* Split the dataset into train and test set with 70:30 ratio with `random_state` = 1

* Import model.

* Keep estimators as `BaggingClassifier`, `Random Forest`, `GradientBoosting Classifier` with `random_state` = 1

* Train the 'model' and compute the 'score' on training data and test data.

In [ ]:
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, GradientBoostingClassifier, VotingClassifier

data = load_wine()
X_train, X_test, y_train, y_test = train_test_split(data.data, data.target, test_size = 0.3, random_state = 1)

vc = VotingClassifier([('bagging', BaggingClassifier(random_state = 1)),
                       ('rf', RandomForestClassifier(random_state = 1)),
                       ('gradboost', GradientBoostingClassifier(random_state = 1))])
vc.fit(X_train, y_train)

VotingClassifier(estimators=[('bagging', BaggingClassifier(random_state=1)),
                             ('rf', RandomForestClassifier(random_state=1)),
                             ('gradboost',
                              GradientBoostingClassifier(random_state=1))])

Q6. Enter the value of the 'score' on training set. (Enter your answer in four decimal places)

In [ ]:
vc.score(X_train, y_train)

1.0

Q7. Enter the value of the 'score' on testing set. (Enter your answer in four decimal places)

In [ ]:
vc.score(X_test, y_test)

0.9814814814814815

### GRADED ASSIGNMENT

Load Used Cars Price Prediction dataset available at following

https://drive.google.com/uc?export=download&id=1tKqddJuIiRqrm7ml2qyVGJlAW3JQjaZX

**(Consider the statement for Q1,Q2,Q3 and Q4)**

* Load the used cars' dataset.
* The target variable is 'MSRP'.
* Remove the rows that contain NULL values.
* Drop 'Invoice' feature.
* Preprocess to remove comma and dollar sign from MSRP (and cast its type as integer).
* Use `Pandas.get_dummies()` on the categorical features : 'Make', 'Model', 'Type', 'Origin', 'DriveTrain'
* Split the data into X and y and then train and test subsets using 70:30 ratio with `random_state` = 1

Train the model using the following (All with default values and `random_state` = 1):
1. `BaggingRegressor`
2. `RandomForestRegressor`
3. `GradientBoostingRegressor`
4. `AdaBoostRegressor`

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Assignment_files/MLP/cars_data.csv")
data.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197

In [ ]:
data = data.dropna() #dropping rows with null values

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 426 entries, 0 to 427
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         426 non-null    object
 1   Model        426 non-null    object
 2   Type         426 non-null    object
 3   Origin       426 non-null    object
 4   DriveTrain   426 non-null    object
 5   MSRP         426 non-null    object
 6   Invoice      426 non-null    object
 7   EngineSize   426 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   426 non-null    int64
 10  MPG_City     426 non-null    int64
 11  MPG_Highway  426 non-null    int64
 12  Weight       426 non-null    int64
 13  Wheelbase    426 non-null    int64
 14  Length       426 non-null    int64
dtypes: float64(2), int64(6), object(7)
memory usage: 53.2+ KB

In [ ]:
X, y = data[['Make','Model','Type','Origin','DriveTrain','Invoice','EngineSize','Cylinders','Horsepower','MPG_City','MPG_Highway','Weight','Wheelbase','Length']], data['MSRP']

In [ ]:
X.head()

,Make,Model,Type,Origin,DriveTrain,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$33,337",3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$21,761",2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$24,647",2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$30,299",3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$39,014",3.5,6.0,225,18,24,3880,115,197

In [ ]:
y.head()

0    $36,945
1    $23,820
2    $26,990
3    $33,195
4    $43,755
Name: MSRP, dtype: object

In [ ]:
X = X.drop(columns = "Invoice")

In [ ]:
X.head()

,Make,Model,Type,Origin,DriveTrain,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,3.5,6.0,225,18,24,3880,115,197

In [ ]:
y = y.str.replace(',','').str.replace('$','')
y.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

0    36945
1    23820
2    26990
3    33195
4    43755
Name: MSRP, dtype: object

In [ ]:
X = pd.get_dummies(X, columns = ['Make', 'Model', 'Type', 'Origin', 'DriveTrain'])

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

br = BaggingRegressor(random_state = 1)
rfr = RandomForestRegressor(random_state = 1)
gbr = GradientBoostingRegressor(random_state = 1)
adar = AdaBoostRegressor(random_state = 1)

br.fit(X_train, y_train)
rfr.fit(X_train, y_train)
gbr.fit(X_train, y_train)
adar.fit(X_train, y_train)

AdaBoostRegressor(random_state=1)

Q1. Enter the value of the 'score' on testing set using `BaggingRegressor`.

In [ ]:
br.score(X_test, y_test)

0.7949163237522345

Q2. Enter the value of the 'score' on testing set using `RandomForestRegressor`.

In [ ]:
rfr.score(X_test, y_test)

0.8369440882741959

Q3. Enter the value of the 'score' on testing set using `GradientBoostingRegressor`.

In [ ]:
gbr.score(X_test, y_test)

0.8270485242007507

Q4. Enter the value of the 'score' on testing set using `AdaBoostRegressor`.

In [ ]:
adar.score(X_test, y_test)

0.711903287964231

**(Consider the statement for Q5,Q6 and Q7)**

On the same data set, perform the preprocessing stated in the previous questions, and perform Hyperparameter Tuning using `GridSearchCV` on `AdaBoostRegressor`. Use `random_state` to be 1.

Hyperparameter tuning to be done over:

Use `n_estimators` as [100,500,1000]
Use `learning_rate` as [0.5,1,2]
Train the 'model' and compute the 'score' on the test data.

In [ ]:
from sklearn.model_selection import GridSearchCV

params = {'n_estimators' : [100,500,1000],
          'learning_rate' : [0.5,1,2]}

gridcv = GridSearchCV(adar, param_grid = params, cv = 4)
gridcv.fit(X_train, y_train)

GridSearchCV(cv=4, estimator=AdaBoostRegressor(random_state=1),
             param_grid={'learning_rate': [0.5, 1, 2],
                         'n_estimators': [100, 500, 1000]})

Q5. Enter the value of the 'score' on testing set.

Take `cv` value= 4

In [ ]:
gridcv.score(X_test, y_test)

0.7130800769863186

Q6. Enter the value of best `n_estimators` of the model after training with `GridSearchCV`

Take `cv` value= 4

In [ ]:
gridcv.best_estimator_.n_estimators

1000

7. Enter the value of best `learning_rate` of the model after training with `GridSearchCV`

Take `cv` value= 4

In [ ]:
gridcv.best_estimator_.learning_rate

1