In [ ]:
import numpy as np
import pandas as pd

### PRACTICE ASSIGNMENT

**About the dataset:**

This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. The objective of the dataset is to diagnostically predict whether or not a patient has diabetes, based on certain diagnostic measurements included in the dataset.

dataset - "https://drive.google.com/file/d/10Dj5jGYoqc7T5AMV_jBXJzDQQscHbrQ9/view?usp=sharing"

**Instructions for questions 1,2 and 3**

Load the diabetes dataset.

Separate features and label.

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Assignment_files/MLP/diabetes.csv")

In [ ]:
X, y = data[data.columns[:-1]], data["Outcome"]

Q1. Which of the following feature pairs have negative correlation?

In [ ]:
X.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000

Q2. Which of the following features has the highest standard deviation?

In [ ]:
X.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

Q3. Is there any missing values in the dataset?

In [ ]:
X.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64

**Instructions for questions 4 to 7**

Split the dataset into training and test dataset in 80:20 proportion with `random_state`: 1

Create a `pipeline` with scaler as `StandardScaler` and classifier as `MLPClassifier`.

Classifier should have the following properties:

*  Classifier should have three hidden layers with 10 neurons each.
*  set `activation`='relu', `solver`='sgd', `alpha`= 1e-4, `learning_rate_init`= 0.2, `max_iter`=500, `random_state`=1.

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

ss = StandardScaler()
mlp = MLPClassifier(hidden_layer_sizes=(10,10,10), activation="relu", solver="sgd", alpha = 0.0001, learning_rate_init= 0.2, max_iter=500, random_state=1)

pipeline = Pipeline([('ss', ss),
                     ('mlp', mlp)])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('ss', StandardScaler()),
                ('mlp',
                 MLPClassifier(hidden_layer_sizes=(10, 10, 10),
                               learning_rate_init=0.2, max_iter=500,
                               random_state=1, solver='sgd'))])

Q4. What will be the mean accuracy of the model on the training data?

In [ ]:
pipeline.score(X_train, y_train)

0.7915309446254072

Q5. What will be the mean accuracy of the model on the test data?

In [ ]:
pipeline.score(X_test, y_test)

0.7662337662337663

Q6. What is the output activation function used by the classifier?

Ans : Logistic (MLP uses sigmoid for Classification and linear for Regression.)

Q7. How many weights (excluding intercepts) between input layer and first hidden layer were learnt by the classifier?

In [ ]:
pipeline["mlp"].coefs_[0].shape

(8, 10)

### GRADED ASSIGNMENT

**About the dataset:**

***dataset URl***: https://drive.google.com/file/d/1cBPurUshGKrK72SWsCatRHomjMnAWK6f/view?usp=sharing

The dataset contains 9471 instances of hourly averaged responses from an array of 5 metal oxide chemical sensors embedded in an Air Quality Chemical Multisensor Device. The device was located on the field in a significantly polluted area, at road level,within an Italian city. Data were recorded from March 2004 to February 2005 (one year)representing the longest freely available recordings of on field deployed air quality chemical sensor devices responses. Ground Truth hourly averaged concentrations for CO, Non Metanic Hydrocarbons, Benzene, Total Nitrogen Oxides (NOx) and Nitrogen Dioxide (NO2) and were provided by a co-located reference certified analyzer.

***Attributes:***

*  Date (DD/MM/YYYY)
*  Time (HH.MM.SS)
*  True hourly averaged concentration CO in mg/m^3 (reference analyzer)
*  PT08.S1 (tin oxide) hourly averaged sensor response (nominally CO targeted)
*  True hourly averaged overall Non Metanic HydroCarbons concentration in microg/m^3 (reference analyzer)
*  True hourly averaged Benzene concentration in microg/m^3 (reference analyzer)
* PT08.S2 (titania) hourly averaged sensor response (nominally NMHC targeted)
*  True hourly averaged NOx concentration in ppb (reference analyzer)
*  PT08.S3 (tungsten oxide) hourly averaged sensor response (nominally NOx targeted)
*  True hourly averaged NO2 concentration in microg/m^3 (reference analyzer)
*  PT08.S4 (tungsten oxide) hourly averaged sensor response (nominally NO2 targeted)
*  PT08.S5 (indium oxide) hourly averaged sensor response (nominally O3 targeted)
*  Temperature in Â°C
*  Relative Humidity (%)
*  AH Absolute Humidity

**Information for questions 1 and 2 and 3.**

Load the AirQualityUCI dataset.

Drop 'Date', 'Time', 'Unnamed: 15', 'Unnamed: 16' columns.

Drop all the rows which has at-least one missing value.

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Assignment_files/MLP/AirQualityUCI.csv")
data.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10-03-2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,10-03-2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,10-03-2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,10-03-2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,10-03-2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN

In [ ]:
data = data.drop(columns = ['Date', 'Time', 'Unnamed: 15', 'Unnamed: 16'])
data.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [ ]:
data = data.dropna()

Q1. What is the shape of the dataset after dropping the rows and colums as mentioned above?

In [ ]:
data.shape

(9357, 13)

Q2. The task is to predict the absolute humidity at a particular time based on other features. So, we will have AH as the target variable. Under which category does this task fall?

Ans : Regression

Q3. What is the value of correlation co-efficient between temperature (T) and relative humidity (RH)?

In [ ]:
data["T"].corr(data["RH"])

0.8859105241276147

**Instructions for questions 4**

*  Separate features and target variable.
* Split the dataset into training and test dataset in 80:20 proportion with `random_state`=1
*  Create a `pipeline` with scaler as `StandardScaler` and classifier as `MLPRegressor`.
*  Classifier should have the following properties:
*  Classifier should have three hidden layers with 50 neurons each.
*  Set 
`tol`=1e-2, `alpha`=1e-4,`solver`="adam", `learning_rate_init`=0.1, `max_iter`=50, `random_state`=1

In [ ]:
X, y = data[data.columns[:-1]], data["AH"]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

ss = StandardScaler()
mlp = MLPRegressor(hidden_layer_sizes=(50,50,50), tol=0.001, alpha=1e-4,solver="adam", learning_rate_init=0.1, max_iter=50, random_state=1)

pipeline = Pipeline([('ss', ss),
                     ('mlp', mlp)])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('ss', StandardScaler()),
                ('mlp',
                 MLPRegressor(hidden_layer_sizes=(50, 50, 50),
                              learning_rate_init=0.1, max_iter=50,
                              random_state=1, tol=0.001))])

Q4. How many samples are there in the test dataset?

In [ ]:
X_test.shape[0]

1872

Q5. What is the value of coefficient of determination of the prediction on the training dataset?

In [ ]:
pipeline.score(X_train, y_train)

0.9998892123138641

Q6. What is the value of coefficient of determination of the prediction on the test dataset?

In [ ]:
pipeline.score(X_test, y_test)

0.9998865399555869

Q7. What will be the prediction of the model on the first intance of training set?

In [ ]:
pipeline.predict(X_train)[0]

0.7895263632696681

In [ ]:
pipeline.predict(X_train.iloc[0, :].to_numpy().reshape(1,-1))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

array([0.78952636])